- model_class = Alert
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:recipients)
      %th= model_class.human_attribute_name(:from)
      %th= model_class.human_attribute_name(:to)
      %th= model_class.human_attribute_name(:when)
      %th= model_class.human_attribute_name(:sent)
      %th= model_class.human_attribute_name(:created_at)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @alerts.each do |alert|
      %tr
        %td= link_to alert.id, alert_path(alert)
        %td= alert.recipients
        %td= alert.from
        %td= alert.to
        %td= alert.when
        %td= alert.sent
        %td= l alert.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),
            edit_alert_path(alert), :class => 'btn btn-mini'
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            alert_path(alert),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
  new_alert_path,
  :class => 'btn btn-primary'
